<nav>
  <ol class="unstyled inline">
    <li class="contact">
      <a href="#contact">Contact</a>
    </li>
    <li class="help">
      <a href="#help">Help</a>
    </li>
    <li class="about">
      <a href="#about">About</a>
    </li>
  </ol>
</nav>