<header class="page-head">
  <h1>Contact, Help, About</h1>
  <%= render partial: 'help/subnav' %>
</header>

<div id="slider" class="full-page swipe">
  <div class="swipe-wrap">
    <div data-page="contact">
      <p>CONTACT</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra vitae ante eget suscipit. Vivamus sagittis sapien massa, vitae lobortis est gravida sed. Nulla mollis turpis id quam dignissim, in ornare mauris rutrum. Integer metus dolor, gravida nec faucibus at, volutpat non quam.</p>

      <p>Sed a mattis massa. Vestibulum dapibus rhoncus vulputate. Vivamus dapibus neque tincidunt, iaculis magna quis, convallis mauris. Vivamus lacinia accumsan sem nec posuere.</p>
    </div>

    <div data-page="help">
      <P>HELP</p>

      <p>Proin tellus nunc, molestie ut metus eu, scelerisque rhoncus tortor. Sed vitae euismod nulla. Etiam non aliquam sapien. Morbi consequat dapibus eros ut euismod. Phasellus id risus auctor, tempus nunc ut, lobortis nunc.</p>

      <p>Mauris euismod, eros et euismod cursus, magna neque elementum sem, at tristique mauris elit sit amet eros. Suspendisse sit amet magna neque. Vivamus iaculis aliquam luctus.</p>
    </div>

    <div data-page="about">
      <p>ABOUT</p>

      <p>Proin vitae ligula in dolor dignissim egestas. Aliquam odio eros, fringilla at mi nec, egestas tristique nulla. Donec sit amet nulla hendrerit est vulputate porttitor. Fusce vehicula diam et massa commodo elementum.</p>

      <p>Sed euismod, orci viverra rhoncus placerat, elit enim ultrices nulla, vel ultrices mauris odio a turpis. Morbi et tortor nisl. Nulla hendrerit pharetra nisi, non ultricies risus molestie eu. Nullam ac dictum libero.</p>
    </div>
  </div>
</div>