<%= form_for @lmu do |f| %>
  <% if @lmu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lmu.errors.count, "error") %> prohibited this lmu from being saved:</h2>

      <ul>
      <% @lmu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :upgrade do |fu| %>
    <%= fu.fields_for :flight do |ff| %>
      <%= render partial: 'flights/form', locals: {f: ff} %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :price %>
    <% currencies = Lmu::CURRENCY.collect {|c| [c[0].to_s.upcase, c[1]]} %>

    <div class="lmu_price_fields clearfix">
      <%= f.text_field :price, required: true, class: 'input-block-level pull-left' %>
      <%= f.select :currency_id, currencies, {}, :required => true, :class => 'pull-right' %>
    </div>
  </div>

  <div class="field inline-checkbox">
    <label>
      <%= f.check_box :purchased %>
      <span>Purchased?</span>
    </label>
  </div>

  <%= f.fields_for :upgrade do |fu| %>
    <%= render partial: 'upgrades/form', locals: {f: fu} %>
  <% end %>

  <div class="actions">
    <%= f.submit :value => 'Submit' %>
  </div>
<% end %>
