<header class="page-head">
  <h1>LMUs</h1>
  <%= render partial: 'lmus/subnav' %>
</header>

<div id="slider" class="full-page swipe">
  <div class="swipe-wrap">
    <div data-page="add">
      <%= render 'form' %>
    </div>

    <div data-page="list">
      <table>
        <thead>
          <tr>
            <th>Price</th>
            <th>Currency</th>
            <th>Purchased</th>
            <th>Upgrade</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @lmus.each do |lmu| %>
            <tr>
              <td><%= lmu.price %></td>
              <td><%= lmu.currency_id %></td>
              <td><%= lmu.purchased %></td>
              <td><%= lmu.upgrade %></td>
              <td><%= link_to 'Show', lmu %></td>
              <td><%= link_to 'Edit', edit_lmu_path(lmu) %></td>
              <td><%= link_to 'Destroy', lmu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
