<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @lmu.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @lmu.currency_id %>
</p>

<p>
  <strong>Purchased:</strong>
  <%= @lmu.purchased %>
</p>

<p>
  <strong>Upgrade:</strong>
  <%= @lmu.upgrade %>
</p>

<%= link_to 'Edit', edit_lmu_path(@lmu) %> |
<%= link_to 'Back', lmus_path %>
