<div class="field">
  <%= f.label :date, 'Departure Date' %>
  <%= f.date_field :date, required: true, class: 'input-block-level' %>
</div>
<div class="field">
  <%= f.label :number, 'Flight Number' %>

  <div class="lmu_flight_number_fields clearfix">
    <span class="airline pull-left">AC</span>
    <%= f.text_field :number, required: true, class: 'input-block-level pull-right' %>
  </div>
</div>

<% cities = City.all.sort {|x, y| x.name <=> y.name}.collect {|c| [c.name, c.id]} %>

<div class="field">
  <%= f.label :from %>
  <%= f.select :from_id, cities, { include_blank: true }, required: true, class: 'input-block-level' %>
</div>
<div class="field">
  <%= f.label :to %>
  <%= f.select :to_id, cities, { include_blank: true }, required: true, class: 'input-block-level' %>
</div>
<div class="field">
  <%= f.label :airplane, 'Aircraft' %>

  <% airplanes = Airplane.all.collect {|a| [a.name, a.id] } %>
  <%= f.select :airplane_id, airplanes, {}, {required: true, class: 'input-block-level'} %>
</div>
<div class="field">
  <%= f.label :fare, 'Fare Class' %>

  <% fares = grouped_options_for_select(Flight.fare_options) %>
  <%= f.select :fare, fares, {}, required: true, class: 'input-block-level' %>
</div>
