<div class="field">
  <%= f.label :status %>
  <% options = Upgrade::STATUS.collect{|c| [Upgrade::STATUS_NAMES[c[0]], c[1]]} %>
  <%= f.select :status_id, options, {}, {required: true, class: 'input-block-level'} %>
</div>
<div class="field">
  <%= f.label :cabin, 'Upgraded To' %>
  <% options = Upgrade::CABIN.collect{|c| [Upgrade::CABIN_NAMES[c[0]], c[1]]} %>
  <%= f.select :cabin_id, options, {}, {required: true, class: 'input-block-level'} %>
</div>
