<% needs_admin = false unless defined? needs_admin %>
<% submit_text = nil unless defined? submit_text %>
<% hide_submit = false unless defined? hide_submit %>
<% form_options = nil unless defined? form_options %>

<%= form_for @user, form_options do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <% if needs_admin %>
    <%= f.label :admin_password %>
    <%= f.text_field :admin_password %>
  <% end %>

  <% unless hide_submit %>
    <div class="actions">
      <%= f.submit submit_text %>
    </div>
  <% end %>
<% end %>
