<header class="page-head">
  <h1>Sign In</h1>
</header>

<%= render partial: 'shared/flash' %>

<% @user = User.new %>
<%= render partial: 'form', locals: {
  form_options: {method: :post, url: verify_users_path},
  submit_text: 'Log In'
} %>
