<header class="page-head">
  <h1>Account Management</h1>
</header>

<%= render partial: 'shared/flash' %>

<p>... I'll eventually flesh out this page</p>

<h3>
  <%= link_to 'Add LMU', lmus_path %>
</h3>

<h3>
  <%= link_to 'Sign Out', logout_users_path, :method => :post %>
</h3>

<hr>

<p>... stuff here isn't done yet</p>

<h3>
  <%= link_to 'Add E-upgrade', '#' %>
</h3>

<h3>
  <%= link_to 'Change Password', '#' %>
</h3>