<% if flash[:error] %>
  <div class="alert alert-error">
    <%= raw flash[:error] %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info">
    <%= raw flash[:info] %>
  </div>
</div>
<% end %>

<% if flash[:notice] %>
  <div id="notice" class="alert alert-success">
    <%= raw flash[:notice] %>
  </div>
<% end %>
