<ul class="thumbnails">
  <li class="span3 tile">
    <% if @current_user %>
      <%= link_to users_path do %>
        <img src="">
        <h2>My Account</h2>
      <% end %>
    <% else %>
      <%= link_to login_users_path do %>
        <img src="">
        <h2>Sign In</h2>
      <% end %>
    <% end %>
  </li>
  <li class="span3 tile">
    <a href="#2">
      <img src="">
      <h2>Stats</h2>
    </a>
  </li>
  <li class="span3 tile">
    <a href="#3">
      <img src="">
      <h2>Upgrades</h2>
    </a>
  </li>
  <li class="span3 tile">
    <%= link_to lmus_path do %>
      <img src="">
      <h2>LMUs</h2>
    <% end %>
  </li>
  <li class="span3 tile tile-double">
    <%= link_to help_path do %>
      <img src="">
      <h2>Contact, Help, About</h2>
    <% end %>
  </li>
</ul>