<h1>Welcome</h1>

<p>This is standard body text</p>
<p class="t2">This is secondary text colour</p>

<h2>Enabled forms</h2>
<label>
  Text field
  <input type="text" value="192.168.1.1">
</label>

<label>
  Password
  <input type="password" value="xxxxxx">
</label>

<label>
  Select
  <select>
    <option>Asdf</option>
  </select>
</label>

<div>
  <input type="checkbox"> Show Password
</div>

<div>
  <input type="radio" checked> Radio
</div>

<h2>Disabled forms</h2>

<label>
  Text field
  <input type="text" value="192.168.1.1" disabled>
</label>

<label>
  Password
  <input type="password" value="xxxxxx" disabled>
</label>

<label>
  Select
  <select disabled="disabled">
    <option>Asdf</option>
  </select>
</label>

<div>
  <input type="checkbox" disabled> Show Password
</div>

<div>
  <input type="radio" checked disabled> Radio
</div>