//colours
@background: #000;
@primary: #eee;
@secondary: #999;

@input_background: #f4f4f4;
@input_text: #222;
@input_border: @input_background;

@disabled_input_background: transparent;
@disabled_input_text: @input_background;
