@font-face {
  font-family: "Segoe WP";
  src: url('/fonts/SegoeWP-Light.eot');
  src: url('/fonts/SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeWP-Light.svg#Segoe WP') format('svg'),
  url('/fonts/SegoeWP-Light.woff') format('woff'),
  url('/fonts/SegoeWP-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe WP";
  src: url('/fonts/SegoeWP.eot');
  src: url('/fonts/SegoeWP.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeWP.svg#Segoe WP') format('svg'),
  url('/fonts/SegoeWP.woff') format('woff'),
  url('/fonts/SegoeWP.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe WP";
  src: url('/fonts/SegoeWP-Semibold.eot');
  src: url('/fonts/SegoeWP-Semibold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SegoeWP-Semibold.svg#Segoe WP') format('svg'),
  url('/fonts/SegoeWP-Semibold.woff') format('woff'),
  url('/fonts/SegoeWP-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
