// Place all the styles related to the lmus controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "_variables.less";

@pr: 100px;

.lmu_price_fields
{
  padding-right: @pr;
}

#lmu_currency_id
{
  margin-right: -@pr;
  max-width: @pr - 20px;
}

.lmu_flight_number_fields
{
  @pl: 2em;
  padding-left: @pl;

  .airline
  {
    margin-left: -@pl;

    line-height: 35px; //same height as input field
    font-weight: 100;
  }
}

//originally from http://acidmartin.wordpress.com/2012/12/21/imageless-custom-checkboxes-and-radio-buttons-with-css3-revisited/
:root .inline-checkbox
{
  position: relative;

  label,
  input[type="checkbox"] + span,
  input[type="checkbox"] + span::before
  {
    display: inline-block;
    vertical-align: middle;
  }

  label
  {
    margin-bottom: 12.5px; //keep same as metro-bs
    line-height: 35px;     //keep same
  }

  label *
  {
    cursor: pointer;
  }

  input[type="checkbox"]
  {
    opacity: 0;
    position: absolute;

    + span::before
    {
      @size: 20px;

      content: "";
      width: @size;
      height: @size;
      margin: -1px 11px 0 0;
      border: solid 2px @input_border;

      line-height: @size;
      text-align: center;
      background: @input_background;
    }

    &:checked
    {
      //http://www.paulund.co.uk/style-checkboxes-with-css
      + span::after
      {
        content: '';

        position: absolute;
        top: 14px;
        left: 4px;

        width: 13px;
        height: 6px;

        border: 3px solid @input_text;
        border-top: none;
        border-right: none;

        background: transparent;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &:disabled
    {
      + span
      {
        cursor: default;
        opacity: .4;
      }
    }
  }
}