@import "_variables.less";

//fix typography
body, input, select, textarea
{
  font-family: 'Segoe WP', 'Segoe UI Light', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
  font-weight: normal;
}

body
{
  background: @background;
  color: @primary;
}

a:hover
{
  text-decoration: none;
}

//prevent horiz scroll
html, body
{
  overflow-x: hidden;
}

/* freaking hate using important, but it's the easiest way to
   override both bootstrap and metro bootstrap */
label
{
  font-weight: 100 !important;
}

input, select, textarea
{
  border: 2px solid @input_border !important;
  background: @input_background !important;
  color: @input_text !important;

  border-radius: 0 !important;
  font-size: 1.2em !important;
  font-weight: 100 !important;
  box-shadow: none !important;

  &[disabled], &[readonly]
  {
    background: @disabled_input_background !important;
    color: @disabled_input_text !important;
  }
}

input[type=checkbox], input[type=radio]
{
  background: transparent !important;
  border-color: transparent !important;
}

ul.inline > li, ol.inline > li
{
  &:first-child { padding-left: 0; }
}

.actions
{
  padding-top: 10px;
}