@import "_variables.less";

@media (max-width: 767px) {
  body
  {
    padding: 10px 0 0;
  }

  #container
  {
    padding: 0 15px;
  }
}

@tile-width: 130px;
@tile-margin: 5px;

@media (max-width: 480px) {
  .thumbnails
  {
    width: 2*(@tile-width + @tile-margin + @tile-margin);
    margin: 0 auto;
  }
}

.thumbnails > li.tile //$@# specificity
{
  //space tiles out a bit
  margin: 5px;

  &.tile-double
  {
    width: 2*(@tile-width + @tile-margin);
  }

  //make whole tile linkable
  a
  {
    position: relative; //for h2

    display: block;
    width: 100%;
    height: 100%;
  }

  //make h2 look more like windoze phone
  padding: 10px;

  h2
  {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;

    font-size: 1.1em;
    font-weight: 100;
    line-height: 1;
    text-transform: none;
  }
}

//page headers -- not using .page-header since we don't want bs styling
.page-head
{
  h1
  {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;

    text-transform: uppercase;
  }

  .inline //proxy for the ol
  {
    white-space: nowrap;
  }

  a
  {
    font-size: 3em;
    line-height: 1;

    text-transform: lowercase;
    color: @secondary;
  }

  .current a
  {
    color: @primary;
  }
}